################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MaintainanceMode/obj/x86/Debug
/src/MaintainanceMode/bin/Debug
/src/MaintainanceMode/.vs/MaintainanceMode/v16
