################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alien Robot/.vs/Alien Robot/v16/Server/sqlite3
